* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url(img/Banner.png);
}

#discordpage {
  margin-top: 5%;
}

#deskripsi {
  margin-top: 3%;
}

#deskripsi p {
  margin-top: 2%;
  font-size: 25pt;
}

#tbl {
  margin-top: 5%;
}

#tbl1 {
  margin-top: 3%;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
}
