/* Font faces */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* End of font faces */

/* Mode */
:root {
  --curve: 40;
  --background: #f3f5f8;
  --background-secondary: #ffffff;
  --custom-background-1: rgb(146, 170, 241);
  --custom-background-2: rgb(21, 85, 233);
  --custom-background-3: #5b5b5b;
  --custom-background-4: #373745;
  --text-primary: #28292e;
  --text-secondary: #55565b;
  --hover-text-secondary: rgba(233, 233, 233, 0.5);
  --nav-link: #3e55e9;
  --theme-primary: #8cb4ec;
  --theme-secondary: #7790fc;
  --hover-theme-secondary: rgba(119, 174, 252, 0.5);
  --navbar: rgba(255, 255, 255, 0.5);
  --nav-logos: url(/img/logo.jpg);
}

html[data-color-mode="dark"] {
  --curve: 40;
  --background: rgb(28, 26, 57);
  --background-secondary: rgb(18, 16, 64);
  --custom-background-1: #9d77fc;
  --custom-background-2: #8cb4ec;
  --custom-background-3: #cddaec;
  --custom-background-4: #c6daf7;
  --text-primary: #ececec;
  --text-secondary: #cccccc;
  --hover-text-secondary: #141432;
  --nav-link: #ececec;
  --theme-primary: rgb(80, 80, 159);
  --theme-secondary: rgb(59, 38, 211);
  --hover-theme-secondary: rgba(88, 107, 231, 0.496);
  --navbar: rgba(36, 36, 36, 0.5);
  --nav-logos: url(/img/logo.jpg);
}

/* End of mode */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-primary) transparent;
}

/*  Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-secondary);
  border-radius: 20px;
  border: 3px solid transparent;
}

body,
html {
  background-color: var(--background);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

#navbar a {
  color: var(--custom-background-3);
}

#navbar a:hover {
  color: var(--theme-primary);
}

#home #jumbotron {
  margin-top: 10%;
}

#home img {
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--hover-theme-secondary);
}

#home h1:hover {
  color: var(--theme-secondary);
}

.btn-dark {
  background: linear-gradient(30deg, var(--theme-primary), var(--theme-secondary));
  transition: 0.3s;
}

.btn-dark:hover {
  background: linear-gradient(30deg, var(--theme-secondary), var(--theme-secondary));
  box-shadow: 0 10px 10px var(--hover-theme-secondary);
  transform: translateY(-2px);
}

#about h2 {
  margin-top: 10%;
}

#about h2:hover {
  color: var(--theme-secondary);
}

#about h5 {
  margin-top: 3%;
}

#about h5:hover {
  color: var(--theme-primary);
}

#hobbies {
  margin-top: 5%;
}

#hobbies h2:hover {
  color: var(--theme-secondary);
}
